/*需要覆盖原生框架里的样式是因为，dialog的生成是利用bootstrap的开源插件bootstrap-dialog.js，
这个插件里生成的样式与其它的弹窗样式不一致
*/
.modal-body {
     padding: 10px 20px 0 20px;
}
.modal-dialog {
    right: auto;
    width: 700px;
    height: 800px;
    padding-top: 100px;
    padding-bottom: 30px;
    }

.bootstrap-dialog .bootstrap-dialog-title {
    color: #fff;
    display: inline-block;
    font-size: 12px;
}
 label {
     display: inline-block;
     margin-bottom: 5px;
     font-weight: normal;
 }
 .bootstrap-dialog .bootstrap-dialog-message {
     font-size: 12px;
 }
 .modal-header .close {
     font-size: 20px;
     font-weight: normal;
      margin-top: 0;
 }
 .modal-footer .btn {
     line-height: 12px;
     font-size: 12px;
 }
.bootstrap-dialog.type-primary .modal-header {
    background-color: #108EE9;
}
.modal-header {
    padding: 7px 15px;
    border-radius: 6px 6px 0px 0px;
    background: #1871C1;
    color: #fff;
}
.modal-footer {
    padding: 5px 15px;
}

.form-control{
    width: 30px;
}
.dialogLabel{
    padding: 0;
    margin-right: 5px;
    font-weight:normal;
}
.form-control {
    display: inline;
    width: 160px;
}
.btn {
    padding: 6px 10px 5px 10px;
    margin-left: 10px;
}
/*
.u-grid tr[role="row"]:nth-child(even) {
    background-color: rgba(255, 152, 0, 0.38) !important;
}*/
input.form-control, select.form-control {
    border-radius: 4px;
    padding: 2px 2px;
    padding-left: 7px;
    box-shade: 0px;
    -webkit-box-shadow: none;
    height: 30px;
    line-height: 30px;
    border: solid 1px #bababa;
}
#grid_content{
    height: 200px;
}