.addArea {
	height:calc(100% - 61px);
	overflow:auto;
}
.addDiv{
	padding: 5px;
}
.addDiv .title-hr {
	border-top: 2px solid #ccc;;
}
.addDiv .title {
	position: relative;
	padding-left: 35px;
}
.addDiv .title-img {
	display: inline-block;
    background: url(../assets/images/u1027.png) no-repeat;
    height: 28px;
    width: 30px;
    position: absolute;
    left: 0px;
    top: -6px;
}
.addDiv .content {
	display: table;
	width: 100%;
}
.addDiv .space {
	margin: 6%;
}
.addDiv input[type="radio"], input[type="checkbox"] {
    margin: 9px 0 0;
}
.errorSpan {
	display:none;
	color:red;
}
.redColor {
	color:red;
}
.addFooter{
	min-height: 50px;
    padding: 10px;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    border-width: 0 0 1px;
    margin-bottom: 10px;
}
.addFooter .icon-box {
    border: 1px solid #84CCFF;
    border-radius: 4px;
}